@{
    ViewBag.Title = "Home Page";
}
@model List<Crypticism.Models.Review>

<div>
    @foreach (var review in Model)
    {
        <h1>@review.Title</h1>
        <h2>@review.CompanyId</h2>
        <h2>@review.Content</h2>
        <hr/>
    }
</div>
